sau khi disconnect: 
docker start 2 cái container postgres vs pgadmin, nếu chưa connect thì connect lại vs nhau
using argparse và tạo 1 file .py mới

In [ ]:
import pandas as pd
import pyarrow.parquet as pq
from time import time

In [15]:
pq.read_metadata("D:\\Download from Edge\\docker\\yellow_tripdata_2024-01.parquet")

<pyarrow._parquet.FileMetaData object at 0x00000165872F1800>
  created_by: parquet-cpp-arrow version 14.0.2
  num_columns: 19
  num_rows: 2964624
  num_row_groups: 3
  format_version: 2.6
  serialized_size: 6357

In [16]:
# Read file, read the table from file and check schema
file = pq.ParquetFile("D:\\Download from Edge\\docker\\yellow_tripdata_2024-01.parquet")
table=file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [ ]:
#convert to table to more visualizing
df = table.to_pandas()

In [10]:

from sqlalchemy import create_engine
egine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')
egine.connect()

There are 2,846,722 rows in our dataset. We are going to use the parquet_file.iter_batches() function to create batches of 100,000, convert them into pandas and then load it into the postgres database.

In [ ]:
batches_iter = file.iter_batches(batch_size=100000)

# Take the first batch for testing
df = next(batches_iter).to_pandas()
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1,1.72,1,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1,1.80,1,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1,4.70,1,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1,1.40,1,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1,0.80,1,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2024-01-02 13:34:18,2024-01-02 13:38:13,1,0.70,1,N,263,75,1,5.8,2.5,0.5,2.00,0.0,1.0,11.80,2.5,0.0
99996,1,2024-01-02 13:47:42,2024-01-02 13:59:26,1,1.70,1,N,236,238,1,11.4,2.5,0.5,4.60,0.0,1.0,20.00,2.5,0.0
99997,2,2024-01-02 13:23:51,2024-01-02 13:36:29,1,1.87,1,N,236,162,1,12.8,0.0,0.5,3.36,0.0,1.0,20.16,2.5,0.0
99998,2,2024-01-02 13:42:04,2024-01-02 13:48:39,1,1.58,1,N,229,263,2,9.3,0.0,0.5,0.00,0.0,1.0,13.30,2.5,0.0
99999,2,2024-01-02 13:54:12,2024-01-02 13:57:25,1,0.64,1,N,236,263,2,-5.8,0.0,-0.5,0.00,0.0,-1.0,-9.80,-2.5,0.0

In [13]:
# Insert values into the table 
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='ny_taxi_data',con=egine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken     11.057 seconds.

inserting batch 2...
inserted! time taken     12.500 seconds.

inserting batch 3...
inserted! time taken     12.388 seconds.

inserting batch 4...
inserted! time taken     11.984 seconds.

inserting batch 5...
inserted! time taken     12.471 seconds.

inserting batch 6...
inserted! time taken     12.408 seconds.

inserting batch 7...
inserted! time taken     12.636 seconds.

inserting batch 8...
inserted! time taken     11.973 seconds.

inserting batch 9...
inserted! time taken     12.606 seconds.

inserting batch 10...
inserted! time taken     12.682 seconds.

inserting batch 11...
inserted! time taken     12.382 seconds.

inserting batch 12...
inserted! time taken     12.380 seconds.

inserting batch 13...
inserted! time taken     11.386 seconds.

inserting batch 14...
inserted! time taken     12.520 seconds.

inserting batch 15...
inserted! time taken     11.489 seconds.

inserting batch 16...
inserted! time taken     11.684 seconds.

inserting batch 17...
inserted! time taken     12.726 seconds.

inserting batch 18...
inserted! time taken     13.158 seconds.

inserting batch 19...
inserted! time taken     11.753 seconds.

inserting batch 20...
inserted! time taken     11.767 seconds.

inserting batch 21...
inserted! time taken     11.760 seconds.

inserting batch 22...
inserted! time taken     13.676 seconds.

inserting batch 23...
inserted! time taken     10.588 seconds.

inserting batch 24...
inserted! time taken      8.076 seconds.

inserting batch 25...
inserted! time taken      8.873 seconds.

inserting batch 26...
inserted! time taken      8.208 seconds.

inserting batch 27...
inserted! time taken      8.652 seconds.

inserting batch 28...
inserted! time taken      8.452 seconds.

inserting batch 29...
inserted! time taken      8.884 seconds.

inserting batch 30...
inserted! time taken      5.292 seconds.

Completed! Total time taken was    336.732 seconds for 30 batches.

In [ ]:
import argparse

# Khởi tạo parser mô tả program 
parser = argparse.ArgumentParser(description="Chương trình tính diện tích hình chữ nhật.")
# Thêm tham số (argument). require bắt buộc nhập 
parser.add_argument("--width", type=float, help="Chiều rộng của hình chữ nhật", required=True)
parser.add_argument("--height", type=float, help="Chiều cao của hình chữ nhật", required=True)
# Phân tích tham số. lấy giá trị từ dòng lnejh 
args = parser.parse_args()
# Tính diện tích
area = args.width * args.height
print(f"Diện tích hình chữ nhật là: {area}")

In [ ]:
parser.add_argument("--name", type=str, help="Tên người dùng")   # Chuỗi
parser.add_argument("--age", type=int, help="Tuổi người dùng")   # Số nguyên
parser.add_argument("--height", type=float, help="Chiều cao")    # Số thực
parser.add_argument("--is_student", action="store_true", help="Có phải sinh viên không?")  # True/False
# Nếu bạn truyền --is_student, giá trị sẽ là True. Nếu không, giá trị mặc định là False.
# giá trị default
parser.add_argument("--city", type=str, default="Hà Nội", help="Thành phố (mặc định là Hà Nội)")

In [ ]:
# Bạn có thể nhận danh sách các giá trị bằng nargs='+':
parser.add_argument("--numbers", type=int, nargs='+', help="Nhập danh sách số")
# ex: chạy python script.py --numbers 3 5 7 9 -> kết quả args.numbers  # [3, 5, 7, 9]

In [ ]:
def check_age(value):
    ivalue = int(value)
    if ivalue < 0 or ivalue > 120:
        raise argparse.ArgumentTypeError("Tuổi phải trong khoảng 0 - 120.")
    return ivalue

parser.add_argument("--age", type=check_age, help="Tuổi hợp lệ")